
:host{
  display: flex;
  width: 100%;
  background-color: #353535;
  
}
nav.dxc-menu{
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* .nav-menu-container{
  position: relative;
} */
